.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.square {
    background: rgb(255, 255, 255); 
    width: 8px; 
    height: 8px;
    font-size: 10px;
    border: 1px solid rgb(202, 202, 202);
}

.hover-square {
    background: rgb(0, 0, 0);
}