.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

h1, .container {
    margin: 30px 0;
}

.square {
    background: rgb(255, 255, 255); 
    font-size: 10px;
    border: 1px solid rgb(202, 202, 202);
}

.hover-square {
    background: rgb(0, 0, 0);
}